.App {
  text-align: center;
}

link {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  background: whitesmoke;
}

nav {
  padding-bottom: 20px;
}

.linkButton {
  border: 3px solid dodgerblue !important;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;

}

h3 {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

span ,.blackText {
  color: black;
}